services:
  backend:
    build:
      context: ./backend
    container_name: laravel-backend
    ports:
      - "8000:8000"
    volumes:
      - type: bind
        source: ./backend
        target: /var/www
      - type: volume
        target: /var/www/vendor
    depends_on:
      db:
        condition: service_healthy
    environment: # Worden alleen lokaal gebruikt, Render overschrijft deze met eigen unieke waardes
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: laravel
      DB_USERNAME: laravel
      DB_PASSWORD: secret
    working_dir: /var/www

  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    ports:
      - "5432:5432"
    environment: # Worden alleen lokaal gebruikt, Render overschrijft deze met eigen unieke waardes
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U laravel"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
      - "4173:4173"
    volumes:
      - type: bind
        source: ./frontend
        target: /app
      - type: volume
        target: /app/node_modules
    container_name: react-frontend

volumes:
  pgdata:
