#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.inline {
  display: flex;
  gap: 2rem; /* optioneel, ruimte tussen de kaarten */
  flex-wrap: wrap;
}

.card {
  flex: 1 1 100%;
}

/* Vanaf 768px en breder: twee kolommen */
@media screen and (min-width: 768px) {
  .card {
    flex: 1 1 45%;
  }
}

.logo {
  margin-right: 20px;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
